<!doctype html>
<html lang="en" data-critters-container>
<head>
  <meta charset="utf-8">
  <title>PokedexWeb</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pokedex</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>:root{--background: #dcdee1;--text-primary: #1b052c;--text-secondary: #393b5b;--accent: #577189;--accent-hover: #a3abb9;--border: #577189;--shadow: #a3abb9;--important: #b00}
</style><link rel="stylesheet" href="styles-ZNJQKWH7.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles-ZNJQKWH7.css"></noscript></head>
<body>
  <app-root></app-root>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="polyfills-RX4V3J3S.js" type="module"></script><script src="main-RH7AUZFW.js" type="module"></script></body>
</html>
